
<main class="main">
  
  <mat-drawer-container class="main_container">
    <mat-drawer #sideNav mode="side" opened="false" position="end">
      <crm-crime-editor [sideNav]="sideNav" [crime]="slectedCrime" (close)="slectedCrime=null"></crm-crime-editor>
    </mat-drawer>
    <mat-drawer-content class="main_drawer-content">
      <crm-management-tool [isTableView]="isTableView" (toggleTableView)="isTableView=$event" (createNewCrime)="sideNav.open()"></crm-management-tool>
      <div>
        <mat-form-field class="main_drawer-content_search">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Type here..." (input)="onInputChange($event)">
        </mat-form-field>
      </div>
      @if (isTableView) {
        <crm-crime-table [crimes]="crimes$ | async" (rowClick)="editCrime($event);sideNav.open()"></crm-crime-table>
      } @else {
        <crm-crime-list [crimes]="crimes$ | async"></crm-crime-list>
      }
    </mat-drawer-content>
  </mat-drawer-container>
</main>

<router-outlet></router-outlet>
