.main {
    height:100%;
    &_container {
        height: 100%;
    }
    &_drawer-content {
        height: 100%;
    }
}
.matdrawer-container {
    &_sidenav {
        width: 400px;
        height: 200px;
        margin-right: 10px!important;
        border: 1px solid #555;
    }
}    
mat-drawer-content {
    margin-right: 0px !important;
    flex: 1 1 auto;
}
mat-sidenav {
    flex: 0 1 auto;
}
.content {
    display: flex;
    flex-direction: column;
    

    
}
